<section data-ng-controller="ScafformsController">
    <div class="page-header">
        <h1>Build new Form </h1>
    </div>
    <div class="col-md-12">
        <!-- <form class="form-horizontal" data-ng-submit="create()" novalidate> -->
            <!-- <fieldset>
                <div class="form-group">
                    <label class="control-label" for="name">Name</label>
                    <div class="controls">
                        <input type="text" data-ng-model="name" id="name" class="form-control" placeholder="Name" required>
                    </div>
                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-default">
                </div>
				<div data-ng-show="error" class="text-danger">
					<strong>{{error}}</strong>
				</div>
            </fieldset> -->
        <!-- </form> -->
    </div>
    <div>
      <form name="joinForm" data-ng-submit="create()">
        <div class="form-group">
          <label class="control-label" for="name">Name</label>
          <div class="controls">
            <input type="text" data-ng-model="name" id="name" class="form-control" placeholder="Name" required>
          </div>
        </div>
        <auto:fields fields="schema" data="scafform" options="options"></auto:fields>
        <input class="btn btn-primary" type="submit" value="Add field"><br>
      </form>
      <br>
      <div class="addform">
        <form id="newtextfield" ng-submit="submitTextField()">
          <p><b>Add text field</b></p>
          <label>Field type</label>
          <select name="type" ng-model="formData.type" placeholder="Field type" id="type">
            <option value="text">Simple text field</option>
            <option value="email">E-mail text field</option>
            <option value="date">Date text field</option>
            <option value="password">Password text field</option>
            <option value="tel">Phone text field</option>
            <option value="url">Url text field</option>
          </select>
          <label>Title/Question</label>
          <input ng-model="formData.label" placeholder="Field title" type="text">
          <input type="submit" value="Add field"><br>
          <pre>
              {{ formData }}
          </pre>
        </form>

        <form id="newcheckfield" ng-submit="submitCheckField()">
          <p><b>Add checkbox field</b></p>
          <label>Title/Question</label>
          <input type="text" ng-model="formData.label" name="label"><br>
          <div id="checklist">
            <label>Choix 1</label>
            <input type="text" name="value" ng-model="formData.value1" value="value1">
            <label>Choix 2</label>
            <input type="text" name="value" ng-model="formData.value2" value="value2">
          </div>
            <span ng-click="addOption()" class="btn btn-primary btn-sm">+</span><br>
          <input type="submit" class="btn btn-success" value="Add">
          <pre>
            {{ formData }}
          </pre>
        </form>

        <form id="newselectfield" ng-submit="submitSelectField()">
          <div class="form-group">
            <p><b>Add select field</b></p>
          </div>
          <label>Title/Question</label>
          <input type="text" ng-model="formData.label" name="label"><br>
          <div class="form-group" id="selectlist">
            <label>1st choice</label>
            <input type="text" name="value1" ng-model="formData.value1" value="value1">
            <label>2nd choice</label>
            <input type="text" name="value2" ng-model="formData.value2" value="value2">
          </diV>
            <span ng-click="addSelectOption()" class="btn btn-primary btn-sm">+</span>
            <input type="submit" class="btn btn-success" value="Add">
          <pre>
            {{ formData }}
          </pre>
        </form>

      </div><br>
      <button class="waves-effect waves-light btn" ng-click="addTextField()">Add Text Field</button>
      <button class="waves-effect waves-light btn" ng-click="addCheckField()">Add Checkbox Field</button>
      <button class="waves-effect waves-light btn" ng-click="addSelectField()">Add Select Field</button> <br><br>
      <button class="btn btn-primary" ng-click="logForm()">Submit</button>
    </div>
</section>
