<section data-ng-controller="ScafformsController" data-ng-init="find()">
    <div class="page-header">
        <h1>Scafforms</h1>
    </div>
    <div class="list-group">
        <a data-ng-repeat="scafform in scafforms" data-ng-href="#!/scafforms/{{scafform._id}}" class="list-group-item">
            <small class="list-group-item-text">{{scafform.created | date:'medium'}} / {{scafform.user.displayName}}</small>
            <h4 class="list-group-item-heading">{{scafform.name}}</h4>
        </a>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!scafforms.$resolved || scafforms.length">
    	No Scafforms yet, why don't you <a href="/#!/scafforms/create">create one</a>?
    </div>
</section>