<section data-ng-controller="ScafformsController" data-ng-init="findOne()">
	<div class="page-header">
		<h1>{{scafform.name}}</h1>
	</div>
	<div class="pull-right" data-ng-show="authentication.user._id == scafform.user._id">
		<a class="btn btn-primary" href="/#!/scafforms/{{scafform._id}}/edit">
			<i class="glyphicon glyphicon-edit"></i>
		</a>
		<a class="btn btn-primary" data-ng-click="remove();">
			<i class="glyphicon glyphicon-trash"></i>
		</a>
	</div>
	<small>
		<em class="text-muted">Posted on {{scafform.created | date:'mediumDate'}} by {{scafform.user.displayName}}</em>
	</small>
</section>